aiogram2==0.0a0
aiograph==0.2
aiohttp==3.7.3
async-timeout==3.0.1
atomicwrites==1.4.0
attr==0.3.1
attrs==19.1.0
Babel==2.9.0
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
coverage==5.4
eval-ellipsis==0.0
idna==3.1
iniconfig==1.1.1
loguru==0.5.3
motor==2.3.0
multidict==5.1.0
nano==0.10.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyaes==1.6.1
pyasn1==0.4.8
pymongo==3.11.2
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2020.5
requests==2.15.1
rsa==4.7
six==1.15.0
telegraph==1.4.1
Telethon==1.19.1
toml==0.10.2
typing-extensions==3.7.4.3
win32-setctime==1.0.3
yarl==1.6.3
